body{
    margin: 0;
    margin-top: 58px;
}

nav{
    background-color: aquamarine;
    display: flex;
    font-family: sans-serif;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    position: fixed;
    width: 100%;
    top: 0;
}

.dropdown{
    background-color: rgb(30, 101, 110);
    padding: 10px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    color: white;
    
}

.dropdown > div{
    background-color: rgb(56, 153, 156);
    position: absolute;
    display: none;
    flex-direction: column;
    margin-top:10px ;
    width: 100px;
    font-size: 20px;
 
}
.dropdown > div > a{
    padding: 5px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.dropdown > div > a:hover{
    background-color: rgb(7, 139, 156);
}

.dropdown:hover >div{
    display: flex;
}
